{{=<% %>=}}
<div style="height: 100%; width: 100%; background: white;">
    <core-iframe
            src="<% wwwroot %>/mod/coreiframetest/view.php?id=<% cmid %>&embed=1">
    </core-iframe>
 <!--
     <iframe
            width="100%"
            height="100%"
            src="<% wwwroot %>/mod/coreiframetest/view.php?id=<% cmid %>&embed=1"
            frameborder="0"
            allow="microphone; camera"
            allowfullscreen="allowfullscreen">
    </iframe>
 -->
</div>
